{% comment %} <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" integrity="sha512-Ho9XQ2zHLFZn89s+RfDoJm1RcWt+8cVY/M92tSf9rxhzgM+ZfjKQ2d4Cw+jJ4xW5ZWkOSv/ZQka/Sr5KXgRLw==" crossorigin="anonymous" />

    <!-- Leaflet JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js" integrity="sha512-gqK3wMx2QGfh8opmFvYUe0nX9R6bW8Zzv0L3jw/Pxrh2l5W5e5N2Qr12G02jSMcMFDLZplv7/ujDg+6igxKjxA==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="map" style="height: 400px;"></div>
    {{ map_html|safe }}
</body>
</html> {% endcomment %}